<div>
  <lib-ng-getform
    [targetUrl]="'https://getform.io/f/3ca8cf55-2fdd-4b92-9e49-7fab38de681b'"
    [formGroup]="formGroup"
    [successCallback]="callback"
  >
    <lib-input
      [label]="'Name'"
      [control]="formGroup.controls['name']"
      [inputId]="'name'"
      [placeholder]="'Please write your name'"
      [validator]="[
        { type: 'required', message: 'Required field' },
        { type: 'minLength', message: 'At least 2 characters', value: 2 },
        { type: 'pattern', message: 'Only letters', value: '[a-zA-Z]+' }
      ]"
    ></lib-input>
    <lib-input
      [label]="'E-mail'"
      [control]="formGroup.controls['email']"
      [inputId]="'email'"
      [placeholder]="'Please write your email'"
      [validator]="[
        { type: 'required', message: 'Required field' },
        { type: 'email', message: 'Unvalid e-mail' }
      ]"
    ></lib-input>
    <lib-radio-group
      [items]="sportsOptions"
      [orientation]="'vertical'"
      [label]="'Choose your favourite sport'"
      [control]="formGroup.controls['sport']"
      [validator]="[
        { type: 'required', message: 'You need to select option!' }
      ]"
    ></lib-radio-group>
    <lib-select
      [placeholder]="'Choose your favourite fruit'"
      [options]="fruitsArr"
      [control]="formGroup.controls['fruit']"
      [searchEnabled]="true"
      [validator]="[{ type: 'required', message: 'Select one fruit!' }]"
    ></lib-select>
    <lib-checkbox
      [name]="'confirmation'"
      [label]="'Are you sure about that?'"
      [control]="formGroup.controls['confirmation']"
      [validator]="[{ type: 'requiredTrue', message: 'Must be checked' }]"
    ></lib-checkbox>
  </lib-ng-getform>
</div>
