<div>
  <h3>ng-getform</h3>
  <lib-ng-getform
    [targetUrl]="'https://getform.io/f/9d2f3436-7fc1-461c-a6a8-053f371b7347'"
    [formGroup]="formGroup"
    [successCallback]="callback"
  >
    <lib-input
      [label]="'Name'"
      [control]="formGroup.get('name')"
      [inputId]="'name'"
      [placeholder]="'Please write your name'"
      [validate]="validate"
      [errorMessages]="{
        required: 'Required field',
        minLength: 'At least 2 chracters',
        pattern: 'Only letters'
      }"
    ></lib-input>
    <lib-input
      [label]="'E-mail'"
      [control]="formGroup.get('email')"
      [inputId]="'email'"
      [placeholder]="'Please write your email'"
      [validate]="validate"
      [errorMessages]="{
        required: 'Required field',
        email: 'Uncorrect email'
      }"
    ></lib-input>
    <lib-radio-group
      [items]="radioButtonsArray"
      [orientation]="'horizontal'"
      [label]="'Choose one option'"
      [control]="formGroup.get('selectedRadioItem')"
      [validate]="validate"
      [errorMessages]="{ required: 'Please select' }"
    ></lib-radio-group>
    <lib-select
      [placeholder]="'Choose your favourite fruit'"
      [options]="fruitsArr"
      [control]="formGroup.get('favouriteFruit')"
      [searchEnabled]="false"
      [validate]="validate"
      [errorMessages]="{ required: 'Select one fruit!' }"
    ></lib-select>
    <lib-checkbox
      [name]="'confirmation'"
      [label]="'Are you sure about that?'"
      [control]="formGroup.get('confirmation')"
      [validator]="{ type: 'requiredTrue', message: 'Must be checked' }"
    ></lib-checkbox>
  </lib-ng-getform>
</div>
