<div>
  <h3>ng-getform</h3>
  <lib-ng-getform
    [targetUrl]="'https://getform.io/f/9d2f3436-7fc1-461c-a6a8-053f371b7347'"
    [formGroup]="formGroup"
    [successCallback]="callback"
  >
    <lib-input
      [label]="'Name'"
      [control]="formGroup.get('name')"
      [inputId]="'name'"
      [placeholder]="'Please write your name'"
      [validator]="[
        { type: 'required', message: 'Required field' },
        { type: 'pattern', message: 'Only letters' }
      ]"
    ></lib-input>
    <lib-input
      [label]="'E-mail'"
      [control]="formGroup.get('email')"
      [inputId]="'email'"
      [placeholder]="'Please write your email'"
      [validator]="[
        { type: 'required', message: 'Required field' },
        { type: 'email', message: 'Unvalid e-mail' }
      ]"
    ></lib-input>
    <lib-radio-group
      [items]="radioButtonsArray"
      [orientation]="'horizontal'"
      [label]="'Choose one option'"
      [control]="formGroup.get('selectedRadioItem')"
      [validator]="[
        { type: 'required', message: 'You need to select option!' }
      ]"
    ></lib-radio-group>
    <lib-select
      [placeholder]="'Choose your favourite fruit'"
      [options]="fruitsArr"
      [control]="formGroup.get('favouriteFruit')"
      [searchEnabled]="false"
      [validator]="[{ type: 'required', message: 'Select one fruit!' }]"
    ></lib-select>
    <lib-checkbox
      [name]="'confirmation'"
      [label]="'Are you sure about that?'"
      [control]="formGroup.get('confirmation')"
      [validator]="[{ type: 'requiredTrue', message: 'Must be checked' }]"
    ></lib-checkbox>
  </lib-ng-getform>
</div>
